img{
	width:60px;
	height:60px;
}
.Homeheading{
	display:flex;
	gap:20px;
	justify-content:center;
	place-items:Center;
	background-color:paleturquoise ;
}
.HomeheadingDescription{
	text-align:center;
}
ul{
	display: block;
	list-style-type:none;
	background-color:black;
	Padding:30px 20px;
}
li a{
	text-decoration: none;
  gap: 10px;
	padding:30px 15px;
  text-align:center;
	color:yellow;
}
li{
	border-right:1px solid white;
	float:left;
}


.searchbar{
float: right;}

.imageimg{
	width: 1400;
	height: 253;
}

.body{
background-image: Url('https://media.istockphoto.com/id/1406970413/photo/blue-gift-boxes.jpg?s=1024x1024&w=is&k=20&c=rC9RoyXQNZ_EDmm9Wt-QhG1LVZYHAaHQoxjSd46DjAI=');
background-color: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
.right{
  float: Right;
}
/*Homepage*/
.swiper-slide img{
  width: 1300px;
  height: 550px;
}
  /*Oderform*/
  @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

  body{
    background: url('http://all4desktop.com/data_images/original/4236532-background-images.jpg');
    font-family: 'Roboto Condensed', sans-serif;
    color: #262626;
    margin: 5% 0;
  }
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 1200px)
  {
    .container{
      max-width: 1140px;
    }
  }
  .d-flex{
    display: flex;
    flex-direction: row;
    background: #f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 25px;
  }
  form{
    flex: 4;
  }
  .Yorder{
    flex: 2;
  }
  .title{
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));
    background: -moz-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: -ms-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: -o-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
    border-radius:5px 5px 0 0 ;
    padding: 20px;
    color: #f6f6f6;
  }
  h2{
    margin: 0;
    padding-left: 15px; 
  }
  .required{
    color: red;
  }
  label, table{
    display: block;
    margin: 15px;
  }
  label>span{
    float: left;
    width: 25%;
    margin-top: 12px;
    padding-right: 10px;
  }
  input[type="text"], input[type="tel"], input[type="email"], select
  {
    width: 70%;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    color: #888;
  }
  select{
    width: 72%;
    height: 45px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  .Yorder{
    margin-top: 15px;
    height: 600px;
    padding: 20px;
    border: 1px solid #dadada;
  }
  table{
    margin: 0;
    padding: 0;
  }
  th{
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
  }
  tr>td:nth-child(1){
    text-align: left;
    color: #2d2d2a;
  }
  tr>td:nth-child(2){
    text-align: right;
    color: #52ad9c;
  }
  td{
    border-bottom: 1px solid #dadada;
    padding: 25px 25px 25px 0;
  }
  
  p{
    display: block;
    color: #888;
    margin: 0;
    padding-left: 25px;
  }
  .Yorder>div{
    padding: 15px 0; 
  }
  
  button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: #52ad9c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  }
  button:hover{
    cursor: pointer;
    background: #428a7d;
  }
  
  /*Registrationform*/
  fieldset
  {
   width: 500PX;
   border-radius: 25PX;
   border-color: black;
   COLOR: black;
   background-color: #5195A8;
   } 

   /*aboutus*/
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: #ddd;
}
.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
}
  
/*Contact Page*/
*
{
margin: 0;
padding:  0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
.contact
{
 position: relative;
 min-height: 100vh;
 padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(https://i.postimg.cc/9FtymgJK/bg.jpg);
  background-size: cover;
}
.contact .content
{
  max-width: 800px;
  text-align: center;
}
.contact .content h2
{
  font-size: 36px;
font-weight: 500;
color: #df1c1c;
}

.contact .content p
{
  font-weight: 300;
  color:navy;
}
.container
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .ContactInfo
{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .ContactInfo .box
{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .ContactInfo .box .icon
{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .ContactInfo .box .text
{
  display: flex;
margin-left: 20px;
font-size: 16px;
color: rgb(12, 97, 131);
flex-direction: column;
font-weight: 300;
}
.container .ContactInfo .box .text h3
{
  font-weight: 500;
  color: #7a2158
}
.container .ContactInfo .box .text p
{
 font-size: 20px;
 color: #000;
}
.ContactForm
{
  width: 40%;
  padding: 40px;
  background: lavender;
}
.ContactForm h2
{
  font-size: 30px;
  color:#1a2fec;
  font-weight: 500;
}
.ContactForm .inputBox
{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.ContactForm .inputBox input,
.ContactForm .inputBox textarea
{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid rgb(29, 41, 7);
  outline: none;
  resize: none;
}
.ContactForm .inputBox span
{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5%;
  color: #666;
}
.ContactForm .inputBox input:focus ~ span,
.ContactForm .inputBox input:valid ~ span,
.ContactForm .inputBox textarea:focus ~ span,
.ContactForm .inputBox textarea:valid ~ span
{
  color: #e91e63;
  font-size: 12px;
  transform: translate(-20px);
}
.ContactForm .inputBox input[type="submit"]
{
  width: 100px;
background: #00bcd4;
color: #fff;
border: none;
cursor: pointer;
padding: 10px;
font-size: 18px;
}
@media (max-width: 991px)
{
  .contact
  {
padding: 50px;
  }
  .container
  {
    flex-direction: column;
  }
  .container .ContactInfo
  {
    margin-bottom: 40px;
  }
  .container .ContactInfo
  {
    width: 100%;
  }
}